{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/projecttest/css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1 class="number">Number: {{ number }}</h1>
    <br>
    <h2 class="number">Number: {{ number }}</h2>
{% endblock %}

{% block javascripts %}
    <script src={{ asset("bundles/projecttest/javascript/jquery-1.11.1.min.js")}}></script>
    <script src={{ asset("bundles/projecttest/javascript/functions.js" ) }}></script>
{% endblock %}