{% extends '::base.html.twig' %}
{% block stylesheets %}
    {% stylesheets '@BlogAPIBundle/Resources/public/css/*' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- Latest compiled and minified CSS -->

    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">#}

{% endblock %}

{% block body %}
    <div class="container div-main">
        <div class="page-header">
            <h1>Logged user: <small>{{ name }} {{ lastName }}</small></h1>
        </div>
        <div class="text-div">
            <h1 class="user">Hello {{ name }} {{ lastName }}</h1>
            <br>
            <h2 class="number">Somehow we're going to show a post here.</h2>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {% javascripts
        'https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'
        '//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'
        '@BlogAPIBundle/Resources/public/js/*'8%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}